/* Reseta as margens e preenchimentos padrão */
body, html {
    margin: 0;
    overflow: hidden;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fundo {
    position: absolute;
    width: 100%;
    height: 100%;
    top:0%;
    background-image: url('/img/faseFundo.png');
    background-position: center;
    background-repeat: repeat;
    background-size: contain;
    z-index: 0;
}
.barraMenu{
    height: 90px;
    width:100%;
    background-color: black;
    z-index: 1;
}
.menu{
    width: 80px;
    position: absolute;
    left: 3%;
    top: 1%;
    cursor: pointer;
}
.lixeira{
    width: 60px;
    position: absolute;
    right: 3%;
    top: 0%;
    cursor: pointer;
}
.video{
    margin-top:15%;
    margin-left: -4%;
}

/*
.alagado {
    position: absolute;
    width: 100%;
    height: 650px;
    bottom: 0;
}

.personagemParadoUm {
    width: 110px;
    position: absolute;
    left: 50%;
    top: 15%;
}





*/
.dialogo{
    top: 50%;
    margin: 5%;
    position: absolute;
    background-color: black;
    opacity: 80%;
    width: 1200px;
    z-index: 2;
}
#textdialogo{
    color: antiquewhite;
    margin-left: 10px;
    width: 1000px;
     /* Cursor effect */
    white-space: nowrap;
    overflow: hidden;
}


#PDimagem{
   margin-top: 20px;
    
    width: 150px;
    height: 150px;
}
.coluna{
    display: inline-block;
    width: 500px;
    box-sizing: border-box;
    vertical-align: top;
    z-index: 2;
}
.river {
    top:300px;
    position: absolute;
    width: 100%;
    height: 300px;
    overflow: hidden;
    z-index: 2;
}

#object {
    position: absolute;
    width: 0px;
    height: 0px;
    z-index: 0;
    animation: floatDown 10s linear infinite ;
}

@keyframes floatDown {
    0% {
        top: -10px;
        left: -11%;
        width: 100px;
        height: 100px;
       
    }
    25% {
        left: 40%;
        width: 100px;
        height: 100px;
        
    }
    50% {
        top: 70%;
        left: 50%;
        width: 100px;
        height: 100px;
    }
    75% {
        left: 60%;
        width: 100px;
        height: 100px;
    }
    100% {
        top: -50px;
        left: 100%;
        width: 100px;
        height: 100px;
    }
}

/* Add some variety */
#object:nth-child(1) {
    animation-delay: 3s;
    

}

#object:nth-child(2) {
    animation-delay: 4s;
   
}
#object:nth-child(3) {
    animation-delay: 5s;
}

#object:nth-child(4) {
    animation-delay: 6s;
}
#object:nth-child(5) {
    animation-delay: 7s;
}

#object:nth-child(6) {
    animation-delay: 8s;
}
#object:nth-child(7) {
    animation-delay: 9s;
}

#object:nth-child(8) {
    animation-delay: 10s;
}
#object:nth-child(9) {
    animation-delay: 11s;
}

















.menu-screen {
    display: none;
    position: fixed;
    top: 0;
    left: 0%;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 100;
    justify-content: center;
    align-items: center;

}

.menu-screen .fundoMenu {
    width: 700px;
    height: 100%;
    left: 0%;
    position: absolute;
    border: 2px solid white;
}

/* Estilo geral para botões de menu */
.menu-button {
    position: absolute;
}

#voltarInicio {
    width: 400px;
    left: 6%;
    bottom: 2%;
    cursor: pointer;
}

#linha1{
    width: 700px;
    left: 0%;
    bottom: 13%;
    position: absolute;
}

#teclas{
    width: 200px;
    left: 3%;
    bottom: 17%;
    position: absolute;
}

#paraAndar{
    width: 160px;
    left: 1%;
    bottom: 32%;
    position: absolute;
}

#mouse{
    width: 100px;
    left: 25%;
    bottom: 17%;
    position: absolute;
}

#paraClicar{
    width: 280px;
    left: 17%;
    bottom: 32%;
    position: absolute;
}

#linha2{
    width: 700px;
    left: 0%;
    bottom: 40%;
    position: absolute;
}

#fase1{
    width: 250px;
    left: 20%;
    bottom: 45%;
    position: absolute;
    cursor: pointer;
}

#fase2{
    width: 250px;
    left: 2%;
    bottom: 45%;
    position: absolute;
    cursor: pointer;
}

#outraFase{
    width: 280px;
    left: 1%;
    bottom: 62%;
    position: absolute;
}

#linha5{
    width: 700px;
    left: 0%;
    bottom: 66%;
    position: absolute;
}


#imgAudio{
    width: 100px;
    left: 1%;
    bottom: 70%;
    position: absolute;
    cursor: pointer;
}

#volumeTxt{
    width: 220px;
    left: 1%;
    bottom: 80%;
    position: absolute;
    cursor: pointer;
}

#controleVolume{
    width: 20px;
    height: 35px;
    left: 8%;
    bottom: 71%;
    position: absolute;
    cursor: pointer;
    display: flex;
    transform: translate(-50%, -50%);
    align-items: center;
    
}

#linha3{
    width: 220px;
    left: 8%;
    bottom: 74%;
    position: absolute;
    cursor: pointer;
}

















