/* Reseta as margens e preenchimentos padrão */
body,
html {
    margin: 0;
    overflow: hidden;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#fundoum {
    position: relative;
    width: 100%;
    height: 100%;
    top: 0%;
    z-index: 0;
}

#fundo {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    z-index: 0;
}

.barraMenu {
    height: 90px;
    width: 100%;
    background-color: black;
    z-index: 1;
}

.menu {
    width: 80px;
    position: absolute;
    left: 3%;
    top: 1%;
    cursor: pointer;
}

.lixeira {
    width: 60px;
    position: absolute;
    right: 3%;
    top: 0%;
    cursor: pointer;
}

.sacoSementes {
    width: 55px;
    position: absolute;
    right: 30%;
    top: 1%;
    cursor: pointer;
}


#timer {
   
    margin-left:50%;
    font-size: 3em;
    color: white;
}



#personagem {
    position: absolute;
    width: 1920px;
    height: 650px;
   
    margin-top: -40%;
    margin-left: 0%;
    z-index: 0;
    
}

#imgPerson {
    position: absolute;
    width: 120px;
    height: 150px;
    z-index: 1;
}





#dialogo {
    top: 50%;
    margin: 5%;
    position: absolute;
    background-color: black;
    opacity: 80%;
    width: 1200px;
    z-index: 3;
}

#textdialogo {
    color: antiquewhite;
    margin-left: 10px;
    width: 1000px;
    /* Cursor effect */
    white-space: nowrap;
    overflow: hidden;
}


#PDimagem {
    margin-top: 20px;
    width: 150px;
    height: 150px;
}

.coluna {
    display: inline-block;
    width: 500px;
    box-sizing: border-box;
    vertical-align: top;
    z-index: 2;
}



.latinha {
    position: absolute;
    left: 80%;
    top: 45%;
    z-index: 1;
}

.caixinha{
    position: absolute;
    right: 30%;
    top:30%;
    z-index: 1;

}

.vidro{
    position: absolute;
    right: 35%;
    top: 60%;
    z-index: 1;

}

.garrafa{
    position: absolute;
    right: 60%;
    top: 34%;
    z-index: 1;

}








.menu-screen {
    display: none;
    top: 0;
    left: 0%;
    width: 600px;
    height: 100%;
    background-color: rgb(66, 66, 66);
    position: absolute;
    z-index: 2;
    flex-direction: column;
    align-items: center;
   

}

.cor{
    color: white;
}

/* Estilo geral para botões de menu */
#voltarInicio{
    top:80%;
    left: 23%;
    position: absolute;
}

#coluna{
    width: 500px;
    height: 400px;
    z-index: 2;
    border-bottom: 5px solid white;
}








#fase1 {
    width: 250px;
    height: 115px;
    position: absolute;
    cursor: pointer;
}

#fase2 {
    width: 250px;
    height: 115px;
    margin-left: 45%;
    position: absolute;
    cursor: pointer;
    border-radius:  10% ;
    border: solid 3px  white;
}






#imgAudio {
    width: 100px;
    position: absolute;
    cursor: pointer;
}







.tree {
    position: absolute;
    width: 200px;
    height: 200px;
    background: url('/img/Sementes.png') no-repeat center center / contain;

}
#areaPlantio{
    position: absolute;
    height: 40px;
    margin-top: 80%;
    margin-left: -30%;
    z-index: 2;


}


































